/* Стили для страницы с машиной */
.profile-info {
    background: #e6e6e6;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    margin: 2rem 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.profile-info h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.profile-info p {
    font-size: 1.2rem;
    color: #333;
    margin: 1rem 0;
}

.profile-info img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    display: block;
    margin: 1rem auto;
}

.btn-primary {
    background-color: #428bf1;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
}

.btn-primary:hover {
    background-color: #46b8da;
}

.form-container {
    padding: 2rem;
    margin: 2rem 0;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background: #e6e6e6;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #333;
}

.form-container input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.form-container button {
    background-color: #428bf1;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #46b8da;
}

/* Стиль для скрытого автомобиля */
.profile-info.hidden {
    background-color: #f5f5f5;
    color: #999;
    text-align: center;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-info.hidden h2 {
    font-size: 2rem;
    color: #666;
}
