@model TWeb48.Models.LoginModel
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    
    <head>
        <title>aaa</title>
        <link rel="stylesheet" href="~/wwwroot/site.css"/>
        <link rel="stylesheet" href="~/wwwroot/newStyle.css"/>
    </head>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
}