@{
    ViewData["Title"] = "Profile";
}

<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/wwwroot/site.css"/>
    <link rel="stylesheet" href="~/wwwroot/newStyle.css"/>
</head>


<div class="text-center">
    <h1 class="display-4">Profile</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>