@{
    ViewData["Title"] = "AdminPanel";
    var userName =  User.Identity.Name;
}

<head>
    <title>aaa</title>
    <link rel="stylesheet" href="~/wwwroot/site.css"/>
</head>

<div class="text-center">
    
        <h1 class="display-4">Admin Panel</h1>
    
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <a href="@Url.Action("AddCar", "Admin")" class="btn btn-primary">Add Car</a>
</div>