@{
    ViewData["Title"] = "AdminPanel";
    var userName =  User.Identity.Name;
}

<head>
    <title>aaa</title>
    <link rel="stylesheet" href="~/wwwroot/Profile.css"/>
</head>

<div class="profile-info">
    
        <h2>Admin Panel</h2>
    
        <a href="@Url.Action("AddCar", "Admin")" class="btn btn-primary">Add Car</a>
        <a href="@Url.Action("AllCars", "Admin")" class="btn btn-primary">Show All Cars</a>
</div>