@using TWeb48.Models
@model TWeb48.Models.Car
@using (Html.BeginForm("SelectPhoto", "Admin", FormMethod.Post))
{
<head>
    <title>Select Photo</title>
    <link rel="stylesheet" href="~/wwwroot/Car.css"/>
    <link rel="stylesheet" href="~/wwwroot/cars.css"/>
    <link rel="stylesheet" href="~/wwwroot/login.css"/>
</head>

<div>
    <h2>Select a Photo for @Model.Name</h2>
    <div class="form-group">
        <label for="photo">Choose a photo:</label>
        <select id="photo" name="photo" class="form-control">
            @foreach (var file in Directory.GetFiles(Server.MapPath("~/wwwroot/uploads")))
            {
            <option value="@Path.GetFileName(file)">@Path.GetFileName(file)</option>
            }
        </select>
    </div>
    <input type="hidden" name="carId" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Select Photo</button>
</div>
}