/* Подключаем Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Общие стили */
body {
    font-family: 'Montserrat', sans-serif;
    background: #ffffff; /* Светлый холодный фон */
    color: #333; /* Темный холодный цвет текста */
    margin: 0;
    padding: 0;
}

/* Контейнер для главной страницы */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

/* Левый контейнер с текстом */
.content {
    width: 50%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Размещение элементов вертикально */
}

.content h1 {
    font-size: 8rem; /* Увеличиваем размер заголовка */
    color: #182952; /* Цвет заголовка */
    text-align: left;
}

.content p {
    font-size: 1.7rem; /* Увеличиваем размер текста */
    color: #182952; /* Текстовый цвет */
    margin-bottom: 1rem;
    text-align: left;
}

.button-64 {
    width: auto; /* Убираем растягивание кнопки на всю ширину */
    padding: 1rem 2rem; /* Сделаем отступы на кнопке немного больше по бокам */
    font-size: 1.4rem;
    background: #428bf1;
    color: #182952;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    margin-top: 1rem; /* Добавим небольшой отступ сверху */
}

.button-64:hover {
    background: #46b8da; /* Тёмный синий при наведении */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Легкий 3D-эффект */
}

/* Контейнер для изображения */
.image-container {
    width: 50%;
    height: 100vh; /* Высота 100% экрана */
    overflow: hidden; /* Чтобы изображение не выходило за пределы контейнера */
    position: relative;
}

.car-image {
    height: 65%;
    object-fit: cover; /* Заполняем контейнер, сохраняя пропорции */
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .content, .image-container {
        width: 100%;
        padding: 1rem;
    }

    .content h1 {
        font-size: 2.5rem; /* Уменьшаем размер заголовка на мобильных */
    }

    .content p {
        font-size: 1.2rem; /* Уменьшаем размер текста на мобильных */
    }

    .button-64 {
        font-size: 1.1rem; /* Уменьшаем размер шрифта кнопки на мобильных */
    }

    .car-image {
        width: 100%; /* Убираем ограничение ширины для мобильных устройств */
        height: auto;
    }
}
